body {
  background: #000 url('/img/background.jpg') top left repeat;
  color: #fff;
}

img {
  border: none;
}

a {
  color: #fff;

  &:hover,
  &:focus,
  &:active,
  &:visited {
    color: #fff;
  }
}

.actions {
  position: relative;

  a {
    display: block;
  }
}

.actions-donate {
  margin-bottom: 30px;
}

.site-wrap {
  margin: 50px auto;
  max-width: 1100px;
  text-align: center;
  padding: 0 20px;
}

p.highlight {
  background-color: transparent;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

.header {
  text-align: center;
}

.intro {
  overflow: hidden;
}

.section {
  margin: 70px 0 80px 0;
}

.inline-list,
.walker-list {
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    list-style-type: none;
    vertical-align: top;
  }
}


.walker-list {
  margin-top: 20px;
  margin-bottom: 20px;
}

.site-footer {
  background-color: #fff;
  text-align: center;
  padding: 45px 0;

  li {
    vertical-align: middle;
  }
}

.section-map {
  display: none;
}

.closing {
  font-size: 27px;
  font-weight: bold;
}

@media screen and (min-width: 900px) {
  .site-wrap {
    padding: 0;
  }
}

@media screen and (min-width: 600px) {
  .special-thanks {
    margin-bottom: -45px;
    padding-top: 80px;
  }

  .inner-section {
    padding-right: 40px;
    padding-left: 40px;
  }

  .section-map {
    display: block;
  }

  .site-footer {
    li {
      &:first-child {
        margin-right: 20px;
      }
    }
  }

  .intro {
    text-align: left;

    img {
      float: right;
      padding-left: 40px;
    }
  }

  .actions-donate {
    margin-top: -70px;
    margin-bottom: 0;
  }

  .actions-facebook {
    margin-left: -50px;
  }

  .actions {
    padding: 70px 0;

    a {
      display: inline-block;
      vertical-align: top;
    }
  }
}
